symlinks/fish/.config/fish/fish_variables
symlinks/fish/.config/fish/completions
symlinks/emacs/.spacemacs.d/backups
symlinks/emacs/.spacemacs.d/secrets.el
run/lib/Grayscale/toggle-grayscale
run/lib/Grayscale/toggle-grayscale.dSYM
