Brewfile.lock.json
run/lib/Grayscale/toggle-grayscale
run/lib/Grayscale/toggle-grayscale.dSYM
symlinks/emacs/.spacemacs.d/backups
symlinks/emacs/.spacemacs.d/secrets.el
symlinks/fish/.config/fish/completions
symlinks/fish/.config/fish/fish_variables
