[user]
	name = Michael Sanders
	email = michael.sanders@fastmail.com
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
	pager = delta
	whitespace = trailing-space,space-before-tab
[credential]
	helper = osxkeychain
[delta]
	syntax-theme = zenburn
[init]
	templatedir = ~/.git_template
[interactive]
    difffilter = delta --color-only
[difftool]
	prompt = false
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
	prompt = false
[alias]
	eeny = add --patch
	graph = log --oneline --decorate --graph
	gtags = !.git/hooks/gtags
	lastsha = !git rev-parse HEAD | cut -c1-7
	pushd = push -u origin HEAD
	redate = rebase --committer-date-is-author-date
	restart = switch -C
	smuggle = commit --amend --reuse-message HEAD
	staged = diff --staged
	start = switch -c
	unpushed = log --oneline --decorate --graph @{upstream}..
	unstage = reset HEAD
	unstaged = diff
[web]
	browser = open
